.footer{
    background-color: #009432;
    height: 50px;
    width: 100%;
    color: #d8eedf;
    bottom:0;
}

.credit{
    font-size: 8px;
    text-align: right;
    display: flex;
    position: relative;
    top: 28px;
    justify-content: flex-end;
    margin-right: 5px;
}

.link{
    color: #d8eedf;
    
}
.link:link{
    font-weight: 900;
    text-decoration: none;
    font-size: 1.2em;
    background-color: rgb(51, 116, 124);
    padding: 0 5px;
}